<html>
<head>
	<title>Pitchforked | Home</title>
	<link href="main.css" rel="stylesheet" type="text/css" />
	<link href="/css/page-player.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</head>
<body>
	<div id="container">
		<div id="header">
			<div id="logo">
				<h1><img src="/img/mobile/icon@2x.png" /><br /><a href="/">Pitchforked</a></h1>
			</div>
		</div>
		<div id="content">
			<%= yield %>
		</div>
		<div id="footer">
			Developed by <a href="http://www.twitter.com/pstinnett">@pstinnett</a>. Inspired by <a href="http://twitter.com/zachklein/status/7770633908">@zachklein</a>.
		</div>
	</div>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-5195518-7']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
		})();
	</script>
</body>
</html>