<p class="subline">Pitchforked creates a random playlist of tracks from Pitchfork.com's Best New Music section.</p>
<p>Version 2.0 is currently in development, however we have launched a preview of our iPhone compatible player. To install, just visit this page using your iPhone.</p>