body {
	background: #111;
}
.card1 {
	background: #FFF;
	padding: 20px;
}

div#playerMeta {
	padding-top: 80%;
	text-align: center;
}

p#playerSong {
	padding: 10px 0px 3px 0px;
	background: rgba(0,0,0,0.7);
	font-size:22px;
	color:#FFF;
	text-shadow: 3px 5px 3px #000;
	font-weight: bold;
}

p#playerArtist {
	padding: 0px 0px 10px 0px;
	background: rgba(0,0,0,0.7);
	font-size: 18px;
	color: #FFF;
	text-shadow: 3px 5px 3px #000;
	height: 200px;
}

#playerArtwork {
	-webkit-box-reflect: below 10px;
	background-size: 150%;
	height:100%;
	width:100%;
	-webkit-animation-name: move;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-duration: 25s;
 	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes 'move' {
	0% 		{ background-position: 0% 0%; }
	50% 	{ background-position: 0% 100%; }
	100%	{ background-position: 0% 0%; }
}

div#details {
	background: url("/img/mobile/details-bg.png");
	height: 100%;
	width: 100%;
	padding: 20px;
}

div#details p#meta {
	font-size: 20px;
	color: #FFF;
	text-shadow: 3px 5px 3px #000;
	padding-left: 10px;
}
div#details img.note {
	height: 25px;
	width: 25px;
	margin-left: 10px;
}
div#details p span#score {
	font-size: 125px;
	color: #FFF;
	text-shadow: 3px 5px 3px #000;
	text-align: center;
}
div#details p.score_cont img {
	width: 75px;
	height: 75px;
	margin-right: 10px;
	vertical-align: center;
}
div#details p.score_cont {
	text-align: center;
	margin-bottom: 20px;
}
p#meta span.label {
	width: 100px;
	display: block;
}
div#details p span#title {
	font-size: 20px;
	color: #FFF;
	padding-left: 10px;
	text-shadow: 3px 5px 3px #000;
}
div#details p span.song {
	font-weight: bold;
}

.x-button img.x-icon-mask.pause {
  -webkit-mask: url('data:image/png;base64,	iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QTUzMEM4RDFENjgwMTFERkJGOUVDQkJCNUZCOTkwQzIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QTUzMEM4RDJENjgwMTFERkJGOUVDQkJCNUZCOTkwQzIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpBNTMwQzhDRkQ2ODAxMURGQkY5RUNCQkI1RkI5OTBDMiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpBNTMwQzhEMEQ2ODAxMURGQkY5RUNCQkI1RkI5OTBDMiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PlMGHOIAAAEISURBVHja7NtRDcIwEMbxdgomoRImAQlzwBwggaBgwQEOAAeggEnAAXMwrhASHkZbbuWF/S/5soc2vf6yPe7sMAxmTmUBzxlsrXXyWEtcwlm9ZCs5ZbxfI1km7u0kG/H0wV0ePBapSnLzW75MkwnbKnr7+5afTA9XALxXNHw1nVpO2dunDYGLQNNaedkyE1hbVWixMDMrwIABAwYMGDBgwIABAwYMGDBgwIABAwYMGDBgwIABAwYMGDBgwIABAwYMGDBgwIABj9VBeeY1w72mnHEOrv5gBKDO9DIaRe+LiYwApAx5rEzkL/O3t+KHPLqMX+DCPIc8XMLeo2QXG/JgjAfwn9VdgAEAnRz1fM6hVh4AAAAASUVORK5CYII=');
}

.x-button img.x-icon-mask.play {
	-webkit-mask: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QTUzMEM4RDVENjgwMTFERkJGOUVDQkJCNUZCOTkwQzIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QTUzMEM4RDZENjgwMTFERkJGOUVDQkJCNUZCOTkwQzIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpBNTMwQzhEM0Q2ODAxMURGQkY5RUNCQkI1RkI5OTBDMiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpBNTMwQzhENEQ2ODAxMURGQkY5RUNCQkI1RkI5OTBDMiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PrRKrFQAAAIMSURBVHja5JvtccIwDIYTHwMwAt2AbgAb0A3KBjBB6QQdgWwAGyQbwAb1CNkgtTmpl+a4kg/bkpDu9IccTh7e17J8xFnTNNmjdLFweXBZulx1rpFGn+f/87w9YN/9uJ38cjl/OmAXyzuwmN9ebWnA5sF4m3+uLcDiN7UzIWECjLFzeeGgdipgUWqbwOOxV9tEGLOttgrgrtpLLcC4rF2gaVEBjPEB4AstwG21d1qAM1iyfDE7US1fhuiH3lC1pobQXXOK5YsSmGT54gCMBa2EragKYLT4MXZB4wTcLmjRLM4RGPvxKGs2V2CM4Gs2d2C0eBnK4hKA21V8owUYq/hp6s5LEnB753UcO68lAmfQoJRjoKUC/87rPM/nWoBHQUsHRuiTJmAfK6fyShNw7dJqAt43TaMGeOtgCy1zeBCsZGA/Z7cui6FfnAmFXbu8amgtPeTrWFhpwAUoa6cMIsXSo+arRGCv5tsUC0uy9HnqfJUEvAdl69ADz57dwpwVLmJYmKPCNVi4SHEzauArWNimuiGlpT/BwjblTSkUttBIVBS/cmqFsTBVVLZKpTBu587UFTKFwh7yhQNsbOA6ZsfEzdIVWNhmzMJEUnXNETa0wsmbCEqFSZqIGArbHqpuYzf8QaPHuSX/Ns29YzyHZz2ohe9EIujtHSqpJ9Pyvg8N/8F60KrzOTnwkPgRYABXq7+EvhoxwQAAAABJRU5ErkJggg==');
}

.x-button img.x-icon-mask.tag {
	-webkit-mask: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6N0IxOEQ2MjBEOEE3MTFERjg3RUJGQTcxMkRBRjYzODQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6N0IxOEQ2MjFEOEE3MTFERjg3RUJGQTcxMkRBRjYzODQiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4OTU5M0IxNUQ4QTMxMURGODdFQkZBNzEyREFGNjM4NCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo4OTU5M0IxNkQ4QTMxMURGODdFQkZBNzEyREFGNjM4NCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PnjSBmsAAAMBSURBVHja7JuNUcMgFIATF2jcICNkA+MExg3YQJ3AOIFuEJ0gOkHdwDpBdILUCSrpkTtECDz6HuAPd+96vSQ0HzzeHzTf7XbZX2pH2R9rufhkXM64FAS/8cTlnsuWAsBHQ9fTc8TyQjSYe2CIZAFgSaFTBiaBTh0YHRoKHMNKV8JuFDGsdCy3FA06ph+OAh078AgOnUKkFRQ6F5YT0qaI6ZHLO5cVl4ZLifAuGy6n0IjMJ9I61KVM3ztEl1UtvGstJIgfHi1q94IEPRqge+meNgTwrUVTGGJwokLXpsGnDDw+LNffEG3LBHMhfb/WXG+orfTKcr1ENqg3pnUr2oV3OIq0hjHTzM6x35o6eTAF/l2Gm2CUhrX7bWCgwL5++F6saUw/LKtyK81ubbn/mIM4+24fYN/2LMo9G8XQvS343LVDv1cc+I4q8PAV5jFArjZhoFbpQ1S0EjNXKNa/0sTXkNj6ToS6k/ZsOdgmpkofi3XfiGgpVNvOA8DlVXw+Y0dIOplbG6GcZHwfSmhXFxMUmBK6UyzvmAowJTRTDFIM6NHk00PMdImYTjpHiEvFghDQRSDoWzWWDg0tx+OY1RKdCjNd8hAbmiL52JeKTNlSLGi1qoHVbz+vVwFYQiseU2Z0nuHv7xbSLFeI/b7O2VOe52tNtQRUPx6RZ5giCuul2Z3cUANVaSronqDiac2eYs70paTa2PahwATGgi4JjWKNvT/stS1iqHScANI919+rM6LmO9NyxDU43N8K1S+VHQir4cJS6UOhG+lZ28CUhhkcfAxXrJmuLTmyDpQpqlpY3FlBCQyFNs1wbwAd1EhKybx0Bb+KGhgC3SnPtJpoq1lQ23F2axKIfH9PrdI+0MxSj3bSFJ+tlpjQa2ltMuD+FPPdH07NZYFKRikBUyUcX/aFUwPGhNYehUgRGAPadO4jWeBDoIelAkHKwD7Q1pO3qQNDatJOx4x/ArBLTdr5TPVPAV6C7iCd+JzxiA19KRUBHkSVFAQMafn/H7X+gX9X+xRgAGr22xmiNgt1AAAAAElFTkSuQmCC');
}

.x-button img.x-icon-mask.turn {
	-webkit-mask: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6N0IxOEQ2MjREOEE3MTFERjg3RUJGQTcxMkRBRjYzODQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6N0IxOEQ2MjVEOEE3MTFERjg3RUJGQTcxMkRBRjYzODQiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3QjE4RDYyMkQ4QTcxMURGODdFQkZBNzEyREFGNjM4NCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo3QjE4RDYyM0Q4QTcxMURGODdFQkZBNzEyREFGNjM4NCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pkufic8AAAMrSURBVHja5JqNcesgDIAh9wZgg+cNygb1Bs3bwN3AG9SdoCM4G+S9CdJOkHSCZAN3A9f05DseZ6gRAmxXdzrn1+YDIQkBZ3GlAC3h/d2gQvv+Y9B3eP066A10tvR9b/2Oc14Nlxbe/hl++5caUMGohxwH7VR7EHqFRlZG51iBpxTuod+3cXWOr5QA2RNrBw2Xc4Ghk04T9yIBLi03j6EnbWpMAsP0OVv+HwQsE4KaegSw/4ChTa5phAZuMoGapl5rTqua4TO8gUXGUXWNdj3zt17AMsDrLkW/gHce81WwDcjuJ8F+B7w5WBewgIC/KVglvyyfO7MbT7lAnvwGufMFroWmKsfe6/E1peyJ4mSDAJDQ2TEiwmRYEgQPawimgoiQm38Bmyb9FNBYZaqPcKVaVkZfu2J770zo4MpUJt0GpHdUUsXOtELnLuXIvqRILUN6tiOaZyLAutBO6wHR0Gff+pNjBSZZQhHIulOoSLhP8tVSiRzdUHnKkVntEOak0sIDwbPfc+XS957/ORA9uwEfUGj16jIFsK9ZvRE+/2DxKdJYWBRUjg0D/Bp5ED4czyg0eAHWKXw6g4MH8xG+pPXtmExwzvXO+G1YierEx3GrxTezYksD9tEdwtw2XcSbciirls3M4VgjzHLVnShN2ncBIH8a8MPagX0zp/3aHVeJWGpVmdtcGbnBCXLzGngKx1EIxlie9XDI+n1uOUp1RjsFjKkB15mAMbWv0gTG1rTkCqafUmkCM5a/ajkn/mPaeJ0y6XFB3i8UWjD76ZxvHawNOGRfKSZ0SLFP8QgbcMgojzcvI4SfkG2XyhaW9FEOLZ22BPl2wcJPDJ1dcdjMpCjqwJhN9T2j24WQU8DcEeuo4uwNalSqLHuxhJo7uFL5gecBrknlFXPryVXioUrhlqJn0yv7AI8hodsK7NzqyBqgZ8H6lIOKBc/p2bCY07THhcG2vnVpjNQLMPFurLykAB5NPNdov+jxOhWwnjSkOjQ+mbKmBtY9eYwjg1cY0YJqbynGLoKaW/cw+piKyHgY9R+bsTXrO2qxt03MzW1Xvn1jiL1nb2BKu16DfAowAN+LCMNO+W7QAAAAAElFTkSuQmCC');
}

.x-button img.x-icon-mask.next {
	-webkit-mask: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6N0IxOEQ2MjhEOEE3MTFERjg3RUJGQTcxMkRBRjYzODQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6N0IxOEQ2MjlEOEE3MTFERjg3RUJGQTcxMkRBRjYzODQiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3QjE4RDYyNkQ4QTcxMURGODdFQkZBNzEyREFGNjM4NCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo3QjE4RDYyN0Q4QTcxMURGODdFQkZBNzEyREFGNjM4NCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PgTzcY0AAAH7SURBVHja7JrtcYMwDIahEzBCugHdICNkBEZghG5AN8gIdAOPkGxANqAbuHZr5wjBIBuZDym60w9yh3IPErKM3yT5t6Pys3Kh/JSEWaa8NDHO5jq6SSm9XFuh7+t5FQB76cVoZzy8qMDS4RrgAPzfaiROHTPbmMA+WRJIcVYHhpa4AMZBz3Ys4KkSFx5xGtMkNw88VprCM46tmmzrwK4SF4FxdLbzPQD3S1zMiKP9cw/A3RKfC+y7DK4G3AXHilPsARjbwcsXFWDw8kUJGNTQKAKPNjSqwM6hhzLw4NDDAfihxLkA30ucE/C9i3MDlma0zTgB2/c65wRs3+sjJ2DrBTdgJzRl4EFo6sCyv1an5kfKdlOg7/biLaFv1+4F9Qz/KP9QGb49bDiIejs0iCScYKkC/20duQwek5sISsAVl91SOzY7UwNuIFtCKsA1dNNPAbjk8tXy6TyZMvDgARtV4JLL2dJlShJBCRgkeqEA7CViWwO4MY42C29Z8mA7p4jZmLYCXCLotECNaW3gITFZKHCwPmspYJe6RgQ8NBS9ZUzgEkFNi6axjAkM0UMK4HKDpqKNBQwViNVL66TnADcIy8QJY4hYCjjvaSVDJb3VUlmdA5ya+zLzfmnQL/PFPsQOJqP6S//3EkcLNmtQS31v2Lu9gF/AxOxXgAEAREYMy8pvpIkAAAAASUVORK5CYII=');
}